# vi:ft=gitattributes

# ownership over the root files
.gitignore @denbeigh2000
README.md @denbeigh2000
default.nix @denbeigh2000
CODEOWNERS @denbeigh2000

nix/readTree/** @denbeigh2000

tools/codeowners/** @denbeigh2000

# initial third_party stuff
third_party/nix/** @denbeigh2000
third_party/nixpkgs/** @denbeigh2000
