# Prevent adding new files by default to avoid accidental secret leaking
*

# Only allow...

# This file
!.gitignore
# Encrypted files
!*.age
# Secrets configuration
!secrets.nix
# Files supporting nix-shell
!shell.nix
!.envrc
# readTree marker
!.skip-subtree
